


<div class="row">
  <div class="small-6 large-centered columns"><h2>How fun is Hannah today?<h2></div>
</div>
<div class="row">
  <div class="small-6 large-centered columns">  </div>
  <div class="small-6 large-centered columns">
      <div class="row">
        <div><h1 >100% fun</h1></div>
      </div>
      <div class="row">
        <a href="#" class="button" onclick="myFunction()">more fun</a>
        <a href="#" class="button">less fun</a>
      </div>
  </div>
  <div class="small-2 large-3 columns">  </div>
</div>

<script>
function myFunction() {
    alert("Impossible.");
}
</script>
